/*!
 * ABRUPT éditions
 */
@charset "UTF-8";
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-bold-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-bold-webfont.woff') format('woff'); */
/*   font-weight: bold; */
/*   font-style: normal; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-italic-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-italic-webfont.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: italic; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-bolditalic-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-bolditalic-webfont.woff') format('woff'); */
/*   font-weight: bold; */
/*   font-style: italic; */
/* } */
/*  */
/* @font-face { */
/*   font-family: 'Crimson Text'; */
/*   src: */
/*     url('fonts/crimson-roman-webfont.woff2') format('woff2'), */
/*     url('fonts/crimson-roman-webfont.woff') format('woff'); */
/*   font-weight: normal; */
/*   font-style: normal; */
/* } */

@font-face {
  font-family: 'Fira Mono';
  src:
    url('fonts/fira-mono.woff2') format('woff2'),
    url('fonts/fira-mono.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --color-fg: #fff;
  --color-bg: #111;
  --color-anim: #f00;
  --color-anim-light: #777;
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  -webkit-tap-highlight-color: transparent;
  word-break: break-word;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

::-moz-selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

::selection {
  color: var(--color-bg);
  background: var(--color-fg);
}

@media (min-width: 90em) {
  body {
    font-size: 2.4rem;
  }
}

body {
  margin: 0 auto;
  font-family: "Fira Mono", monospace;
  quotes: '«\00A0' '\00A0»' "“" "”";
  font-size: 2rem;
  background: radial-gradient(var(--color-bg), #000);
  color: var(--color-fg);
  letter-spacing: 0.01rem;
  line-height: 1.62;
  max-width: 66ch;
  padding: 0 1em;
  width: 100%;
}

@media (min-width: 18.75em) { /* 300px */
  body {
    /* Fluid typography
     * calc([minimum size] + ([maximum size] - [minimum size]) * ((100vw - [minimum viewport width]) / ([maximum viewport width] - [minimum viewport width]))); */
    font-size: calc(20px + (26 - 20) * ((100vw - 300px) / (1280 - 300)));
  }
}

@media (min-width: 30em) { /* 480px */
  body {
    padding: 0 3em;
  }
}

@media screen and (min-width: 80em) { /* 1280 px */
  body {
    font-size: 2.6rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

video {
  max-width: 100%;
  width: 100%;
  border: 0;
}

figure {
  margin: 0 0 1.62em;
}

figcaption p {
  margin-top: 0;
  font-size: 0.8em;
}

figure a {
  margin: 0;
  padding: 0;
  color: unset;
  font-style: normal;
  border-bottom: unset;
  height: 1.62em;
  text-indent: 0;
}

figure a:hover,
figure a:focus,
figure a:active {
  background-color: unset;
  color: unset;
  text-decoration: unset;
}

h1,
h2,
h3 {
  letter-spacing: 0.01rem;
  margin: 2em 0 0;
  line-height: inherit;
  font-weight: bold;
  font-size: 1em;
}

h4,
h5,
h6 {
  font-size: 1em;
  margin: 1em 0 0;
}

a {
  margin: 0;
  padding: 0;
  color: var(--color-fg);
  text-decoration: underline solid var(--color-anim);
}

a:hover,
a:focus,
a:active {
  /* color: var(--color-anim); */
}

p {
  margin: 1.62em 0;
  hyphens: auto;
  hyphenate-limit-chars: 6 3 3;
  hyphenate-limit-lines: 2;
  hyphenate-limit-last: always;
  hyphenate-limit-zone: 8%;
}

em {
  font-style: italic;
}

hr {
  display: block;
  height: 1px;
  width: 62%;
  border: 0;
  border-top: 1px solid var(--color-fg);
  margin: 3em auto;
  padding: 0;
}

ul {
  list-style: none;
  margin: 1.62em 0;
  padding: 0;
}

.centre {
  text-align: center;
}

.droite {
  text-align: right;
}

.italique {
  font-style: italic;
}

.noemptyline {
  margin-bottom: 0;
}

.emptyline {
  margin-bottom: 1.6em;
}

.emptylinebefore {
  margin-top: 1.6em;
}

.noindent {
  text-indent: 0;
}

.title {
  /* text-align: center; */
  /* z-index: -1; */
}

.title__link {
  font-style: normal;
  color: var(--color-fg);
  text-decoration: none;
  display: inline-block;
  padding: 0.3em;
  margin: 1em 0;
}

.title__link.vhs::before,
.title__link.vhs::after {
  padding: 0.3em;
}

.title__link:hover,
.title__link:focus {
  outline: none;
    background-image: linear-gradient(to right, var(--color-anim-light) 30px, transparent 30px), linear-gradient(to right, var(--color-anim-light) 30px, transparent 30px), linear-gradient(to bottom, var(--color-anim-light) 30px, transparent 30px), linear-gradient(to bottom, var(--color-anim-light) 30px, transparent 30px);
  background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
  background-position: -15px 0%, -15px 100%, 0% -15px, 100% -15px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.author {
  /* text-align: center; */
}

.publisher {
  /* text-align: center; */
}

.marquetypographique {
  margin: 1.62em auto;
  width: 100%;
  max-width: 250px;
}

/* Modifications spécifiques */

/* Source : https://codepen.io/simonbreiter/pen/NAmyjR */

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

button {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

.button {
  color: var(--color-fg);
  cursor: pointer;
  margin: 1.62em;
  padding: 0.3em;
}

.button.vhs::before,
.button.vhs::after {
  padding: 0.3em;
}

.button:hover,
.button:focus {
  padding: 0.3em;
  /* outline: 2px dashed var(--color-fg); */
  /* border: 2px dashed var(--color-anim-light); */
  outline: none;
    background-image: linear-gradient(to right, var(--color-anim-light) 30px, transparent 30px), linear-gradient(to right, var(--color-anim-light) 30px, transparent 30px), linear-gradient(to bottom, var(--color-anim-light) 30px, transparent 30px), linear-gradient(to bottom, var(--color-anim-light) 30px, transparent 30px);
  background-size: 100% 2px, 100% 2px, 2px 100%, 2px 100%;
  background-position: -15px 0%, -15px 100%, 0% -15px, 100% -15px;
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
}

.button.shuffle {
  z-index: 1;
  display: inline-block;
}

.button.menu {
  z-index: 100;
  display: inline-block;
  /* position: absolute; */
  /* right: 0; */
  /* left: 0; */
  /* margin: 0 auto; */
}

.pagetitre {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 10;
  background: radial-gradient(var(--color-bg), #000);
}


@media (max-width: 55em) and (orientation: landscape ) {
  .pagetitre .title__link {
    margin: 0;
  }
}

.show {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.texte {
  width: 100%;
  max-width: 800px;
}

.tercet {
  margin: 0;
}

.vhs {
  font-size: 0.9em;
  position: relative;
  mix-blend-mode: screen;
  color: transparent;
  text-shadow: 0 0 0.125rem #0f0;
  animation: jitter 7s infinite;
  z-index: -1;
}

.tercet .vhs {
  padding: 0;
}

@media (max-width: 55em) and (orientation: landscape ) {
  .vhs {
    font-size: 0.7em;
  }
}

.vhs::before,
.vhs::after {
  width: 100%;
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  mix-blend-mode: screen;
  animation: glitch 5s infinite alternate;
}

.vhs::before {
  text-shadow: 0 0 0.125rem #f00;
}
.vhs::after {
  text-shadow: 0 0 0.125rem #00f;
  animation-delay: 5s;
}

/* Source : https://codepen.io/lbebber/pen/XJRdrV */
.screen::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #12101010;
  opacity: 0;
  z-index: 200;
  pointer-events: none;
}
.screen::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(#1210101a 50%, #00000040 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 200;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

@keyframes glitch {
  0% {
    transform: rotate(0deg) translate(0.11rem) rotate(0deg);
  }
  100% {
    transform: rotate(360deg) translate(0.11rem) rotate(-360deg);
  }
}

@keyframes jitter {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(0);
  }
  51% {
    transform: translateX(0.1em) skew(20deg);
  }
  52% {
    transform: translateX(-0.2em) skew(-20deg);
  }
  53% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(0);
  }
}

